/* add css styles here (optional) */
.videoThumbnail {
  cursor: pointer;
}
.video {
  position: relative;
}
.video .preview {
  border-radius: 16px;
}
.video .badge {
  position: absolute;
  bottom: 16px;
  right: 16px;
  background: #613F75;
  color: #fff;
  border-radius: 2px;
  padding: 0 8px;
  height: 16px;
  line-height: 16px;
  font-size: 10px;
  transition: .4s ease-in-out;
}
.title {
  padding: 0;
  margin: 16px 0 8px;
  font-size: 16px;
  font-weight: 600;
  color: #242431;
}
.views {
  font-size: 12px;
  color: #7E7E87;
}